services:
  bot:
    build: .
    restart: unless-stopped
    ports:
      - '1488:1488'
    volumes:
      - .:/app/project
    environment:
      - TZ=Europe/Moscow
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
